@{
    ViewBag.Title = "Nosotros";
}
<div id="colorlib-about">
    <div class="container">
        <div class="row">
            <div class="about-flex">
                <div class="col-three-forth">
                    <h2>Nosotros</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <b>Mascaras de carnaval</b> es una marca lider en la comercialización de mascaras para cualquier evento.
                            </p>

                            <h3>Misión</h3>
                            <p>
                                Poner al alcance de nuestros clientes un articulo selecto, ofreciendo la más alta calidad del mercado.
                            </p>

                            <h3>Visión</h3>
                            <p>
                                Convertirnos en una empresa reconocida, al mismo tiempo la mejor alternativa para nuestros clientes y, así, en la solución
                            </p>
                            <p>adecuada para su satisfacción. Trabajamos pensando en ellos, en darles la mejor calidad y el mejor servicio.</p>

                            

                                    <h3>Valores</h3>

                                    <p>
                                        Respeto
                                    </p>
                                    <p>
                                        Responsabilidad
                                    </p>
                                    <p>
                                        Solidaridad
                                    </p>
                                    <p>
                                        Honestidad.

                                    </p>
                                    <p>
                                        Constancia
                                    </p>
                            

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
